<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feneral Assembly HRMS</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="allEmployeesPage">
      <div class="allEmployeesPageTitle">
        <h1>All Employees</h1>
        <p>Click on the employee to see more details</p>
      </div>
      

    <% for (let i=0; i<allEmployees.length; i++) { %>
        <div class="employeeCard <%= allEmployees[i].gender %>">
          <div class="employeeDetails">
            <p>Employee Name: <%= allEmployees[i].name %></p>
            <p>Department: <%= allEmployees[i].department %></p>
          </div>
            
        <a href="/employee/<%= allEmployees[i]._id %>"><button>View details</button></a>
        <br />
        </div>
        
    <% } %>

    <div class="allEmployeesPageButtons">
          <button><a href="/employee/new">Create a new employee</a></button>
      <button><a href="/home">Back to Home</a></button>
    </div>


    </div>
    
    
    
  </body>
</html>
