<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feneral Assembly HRMS</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to the HR Portal of Feneral Assembly</h1>
    <p>Your one stop solution to managing all employees</p>
    <a href="/home"><div>Lets Get Started</div></a>
  </body>
</html>
