<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feneral Assembly HRMS</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="homePage">
      <h1>What would you like to do today?</h1>
      <div class="homeButtons">
         <a href="/employee"><button >View all employee records</button></a>
        <a href="/employee/new"><button>Create a new employee record</button></a>
      </div>
    </div>
  </body>
</html>
