<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feneral Assembly HRMS</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>What would you like to do today?</h1>
    <a href="/employee"><div>View all employee records</div></a>
    <a href="/employee/new"><div>Create a new employee record</div></a>
  </body>
</html>
